.slider__wrap {
    position: relative;
}


.prev,.next {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #5B76FF;
    border-radius: 24px;
}

.prev {
    left: 0;
    top: 50%;
}

.next {
    right: 0;
    top: 50%;
}

.slider__dots {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.dot {
    width: 37.89px;
    height: 37.89px;
    background: #1A1C27;
    border-radius: 24.2809px;
}

.dot_active {
    background: red;
}